name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-net9:
      runs-on: ubuntu-latest
      container: mcr.microsoft.com/dotnet/sdk:10.0

      steps:
          - name: Checkout
            uses: actions/checkout@v3
          - name: Build
            run: dotnet build
          - name: Test
            run: dotnet test

